*.class
# package
*.war
*.ear
# kdiff3 ignore
*.orig
# maven ignore
target/
# eclipse ignore
.setting/
.classpath
.project
#idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws
# temp
*.log
*.patch
*.cache
*.tmp
*.diff

#system
.DS_Store
Thumbs.
